<!-- <h1>the header</h1> -->
<!-- <nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
        <a href="#" class="navbar-brand"> recipe book</a>
    </div>
    <div class="collapse navbar-nav">
      <ul>
        <li><a href="#">Recipes</a></li>
        <li><a href="#">Shopping List</a></li>
        <li><a href="#">Delivery/Pickup</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <ul class="dropdown-menu">
            <li><a href="#">save data</a></li>
            <li><a href="#"> fetch data</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav> -->




<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="#" class="navbar-brand"> Recipe Book</a>
    </div>

    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a href="#" (click)="onSelect('recipe')">Recipes</a></li>
        <li><a href="#" (click)="onSelect('shopping-list')">Shopping List</a></li>
        <li><a href="#" (click)="onSelect('delivery-pickup')">Delivery/Pickup</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" role="button"> manage <span class="caret"></span></a>
          <ul>
            <li><a href="#">save Data</a></li>
            <li><a href="#">Fetch Data</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
